.h2-border {
    text-shadow: 2px 2px 6px rgb(252, 206, 1) ;
}
/* responsive */
@media (max-width: 500px) {
    .container-text h2 {
        font-size: 1.4rem;
    }
    .container-text p {
        font-size: 0.9rem;
        text-align: center;
    }
    .container-text li {
        font-size: 0.9rem;
    }
}
