<div class="container py-4 mt-5">
    <h2 class="mb-4">Cursos disponibles</h2>

    @if (cargando) {
        <p class="text-secondary">Cargando cursos...</p>
    }

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @for (course of courses; track course._id) {
            <div class="col">
                <div class="card h-100" [routerLink]="['/course', course._id]" style="cursor: pointer;"> <!-- ← NUEVO -->
                    <img [src]="'http://localhost:8000/' + course.image" [alt]="course.title" class="card-img-top" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <span class="badge bg-success mb-2">{{ course.category }}</span>
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text">{{ course.description }}</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>